################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Coding.Dojo/Coding.Dojo.FizzBuzzKata/obj/Debug
/src/Coding.Dojo/Coding.Dojo.FizzBuzzKata/bin/Debug
/src/Coding.Dojo/Coding.Dojo.FizzBuzzKata.Tests/obj/Debug
/src/Coding.Dojo/Coding.Dojo.FizzBuzzKata.Tests/bin/Debug
/src/Coding.Dojo/Coding.Dojo.LangtonsAnt/obj/Debug
/src/Coding.Dojo/Coding.Dojo.LangtonsAnt/bin/Debug
/src/Coding.Dojo/Coding.Dojo.LangtonsAnts.Tests/obj/Debug
/src/Coding.Dojo/Coding.Dojo.LangtonsAnts.Tests/bin/Debug
/src/Coding.Dojo/Coding.Dojo.RomanNumbers/obj/Debug
/src/Coding.Dojo/Coding.Dojo.RomanNumbers/bin/Debug
/src/Coding.Dojo/Coding.Dojo.RomanNumbers.Tests/obj/Debug
/src/Coding.Dojo/Coding.Dojo.RomanNumbers.Tests/bin/Debug
